/* iPad Pro 11" - 1 */


position: relative;
width: 841px;
height: 1194px;

background: #FFFFFF;

/* Starsinthesky 1 */


position: absolute;
width: 3877px;
height: 2482px;
left: -1437px;
top: -1059px;

background: url(Starsinthesky.jpg);

/* Rectangle 2 */


position: absolute;
width: 834px;
height: 92px;
left: 7px;
top: 0px;

/* iPad Pro 11" - 2 */


position: relative;
width: 834px;
height: 1194px;

background: #FFFFFF;

/* Rectangle 2 */


position: absolute;
width: 834px;
height: 92px;
left: 0px;
top: 0px;

position: absolute;
width: 332px;
height: 308px;
left: 238px;
top: 160px;

background: url(happy-cheerful-young-woman-wearing-260nw-613759379.png);
